## Observe Null Values

In [5]:
import pandas as pd

data = pd.read_csv('E:/DATA_SCIENCE/DS/DataScience/data/nyc_flights.csv')
display(data)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,6,NaN,940,15,1216.0,-4,VX,N626VA,407.0,JFK,LAX,313,2475,9,40
1,2013,5,7.0,1657,-3,2104.0,10,DL,N3760C,NaN,JFK,SJU,216,1598,16,57
2,2013,12,8.0,859,-1,1238.0,11,DL,N712TW,NaN,JFK,LAX,376,2475,8,59
3,2013,5,14.0,1841,-4,NaN,-34,DL,N914DL,2391.0,JFK,NaN,135,1005,18,41
4,2013,7,21.0,1102,-3,1230.0,-8,9E,N823AY,3652.0,LGA,ORF,50,296,11,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32730,2013,10,8.0,752,-8,921.0,-28,9E,N8505Q,3611.0,JFK,PIT,63,340,7,52
32731,2013,7,7.0,812,-3,1043.0,8,DL,N6713Y,1429.0,JFK,LAS,286,2248,8,12
32732,2013,9,3.0,1057,-1,1319.0,-19,UA,N77871,1545.0,EWR,IAH,180,1400,10,57
32733,2013,10,15.0,844,56,1045.0,60,B6,N258JB,1273.0,JFK,CHS,93,636,8,44
32734,2013,3,28.0,1813,-3,1942.0,-23,UA,N36272,1053.0,EWR,CLE,59,404,18,13

### 1. isna() / isnull() Function

In [6]:
data.isna()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32730,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32731,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32732,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32733,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32734,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

### 2. notna() / notnull() Function

In [7]:
data.notna()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
3,True,True,True,True,True,False,True,True,True,True,True,False,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32730,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
32731,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
32732,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
32733,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
32734,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

### 3. sum() with isna() / notna()

In [8]:
data.isna().sum()

year         0
month        0
day          2
dep_time     0
dep_delay    0
arr_time     1
arr_delay    0
carrier      0
tailnum      0
flight       3
origin       0
dest         1
air_time     0
distance     0
hour         0
minute       0
dtype: int64